<% layout('layouts/boilerplate') %>

<main id="landing" class="px-3">
  <h1>DC Hook && Coder Designs</h1>
  <p>Welcome! Check out My Projects to see what I have been working on with my hooks and needles! Yarn Inventory page coming soon!</p>
</main>
  
