<% layout('layouts/boilerplate') %> 
  <h1>All Projects</h1>
  <div>
    <a href="/projects/new">Add New Project</a>
  </div>
  <ul>
    <% for( let project of projects ) { %>
    <li><a href="/projects/<%= project.id %>"><%= project.title %></a></li>
    <% } %>
  </ul>