<% layout('layouts/boilerplate') %>
  <div class="row">
    <h1 class="text-center">New Project</h1>
    <!-- col-6 => don't want all the way to left => offset-3 -->
    <div class="col-6 offset-3">
      <form action="/projects" method="POST">
        <div class="mb-3">
          <label class="form-label" for="title">Title:</label>
          <input class="form-control" type="text" id="title" name="project[title]">
        </div>
        <div>
          <label class="form-label" for="craft">Craft:</label>
          <input class="form-control" type="text" id="craft" name="project[craft]">
        </div>
        <div>
          <label class="form-label" for="image">Image URL:</label>
          <input class="form-control" type="text" id="image" name="project[image]">
        </div>
        <div class="mb-3">
          <label class="form-label" or="yarnCategory">Yarn Weight Category:</label>
          <input class="form-control" type="text" id="yarnCategory" name="project[yarnCategory]">
        </div>
        <div class="mb-3">
          <label class="form-label" for="tool">Project Tool & Size:</label>
          <input class="form-control" type="text" id="tool" name="project[tool]">
        </div>
        <button>Add Project</button>
      </form>
      <a href="/projects">All Projects</a>
    </div>
  </div>